<?xml version="1.0" encoding="UTF-8"?>

<!-- Archivo de configuraciones generales del bot -->
<!-- Nombre del Bot: Rpa Challenge -->
<!-- Versión: 1.0 -->

<Configs>
	<!--****************************************************************************************************************************-->
	<!--************************************** DESARROLLO DESARROLLO DESARROLLO DESARROLLO *****************************************-->
	<!--****************************************************************************************************************************-->
	<DEV>
		<!--************************************ Rutas de aplicaciones y ejecutables ***********************************************-->
		<PATHs>
			<!--NO APLICA-->
		</PATHs>
		<!--********************************************* Url aplicativos Web*******************************************************-->
		<URLs>
			<url key = "sUrlRpaChallenge">http://www.rpachallenge.com/</url>
			<url key = "sFacebook">www.facebook.com</url>
		</URLs>
		<!--******************************************* Acceso FTP y Compartidas ***************************************************-->
		<FTPs>
			<!--NO APLICA-->
		</FTPs>
		<!--*********************************************** Configs BBDD  **********************************************************-->
		<BDCONFIGs>
			<!--NO APLICA-->
		</BDCONFIGs>	
	</DEV>
	<!--****************************************************************************************************************************-->
	<!--**************************************** CALIDAD CALIDAD CALIDAD CALIDAD CALIDAD *******************************************-->
	<!--****************************************************************************************************************************-->	
	<QA>
		<!--************************************ Rutas de aplicaciones y ejecutables ***********************************************-->
		<PATHs>
			<!--NO APLICA-->
		</PATHs>
		<!--********************************************* Url aplicativos Web*******************************************************-->
		<URLs>
			<url key = "sUrlRpaChallenge">http://www.rpachallenge.com/</url>
			<url key = "sFacebook">www.facebook.com</url>
		</URLs>
		<!--******************************************* Acceso FTP y Compartidas ***************************************************-->
		<FTPs>
			<!--NO APLICA-->
		</FTPs>
		<!--*********************************************** Configs BBDD  **********************************************************-->
		<BDCONFIGs>
			<!--NO APLICA-->
		</BDCONFIGs>	
	</QA>
	<!--****************************************************************************************************************************-->
	<!--************************************** PRODUCCION PRODUCCION PRODUCCION PRODUCCION *****************************************-->
	<!--****************************************************************************************************************************-->
	<PRD>
		<!--********************************************* paths y apps exec *******************************************************-->
		<PATHs>
		</PATHs>
		<!--********************************************* Url aplicativos Web*******************************************************-->
		<URLs>
			<url key = "sUrlRpaChallenge">http://www.rpachallenge.com/</url>
			<url key = "sFacebook">www.facebook.com</url>
		</URLs>
		<!--******************************************* Acceso FTP y Compartidas ***************************************************-->
		<FTPs>
			<!--NO APLICA-->
		</FTPs>
		<!--*********************************************** Configs BBDD  **********************************************************-->
		<BDCONFIGs>
			<!--NO APLICA-->
		</BDCONFIGs>
	</PRD>
	<!--****************************************************************************************************************************-->
	<!--********************************************** COMÚN PARA LOS TRES AMBIENTES ***********************************************-->
	<!--****************************************************************************************************************************-->
	<COMMON>
		<!--**************************************** Parámetros ajustables Generales ***********************************************-->
		<SETTINGs>
			<set key = "sNumeroReintentosWeb">1</set><!-- En nro de veces-->
			<set key = "sDelayEntreReintento">5</set><!-- En segundos-->
			<set key = "sRutaEjecucionLocal">C:\RPA_LOCAL</set><!--Ruta de ejecución local-->
			<set key = "sRutaEjecucionRed">C:\RPA_RESPALDO</set><!-- Ruta de red de respaldos-->
		</SETTINGs>
	</COMMON>
	
</Configs>